@model CreateTestimonialDto

@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/Admin/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Create Testimonial</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Client Name</label>
                            <input type="text" asp-for="NameSurname" class="form-control" />
                            <br/>
                            <label>Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Comment</label>
                            <textarea asp-for="Comment" rows="5" class="form-control"></textarea>
                            <br />
                            <button type="submit" class="btn btn-primary">Create Client</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>