@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "TestimonialList";
    Layout = "~/Views/Admin/Index.cshtml";
}





<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Why Us Page</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> # </th>
                                    <th scope="col"> Client Name </th>
                                    <th scope="col"> Title </th>
                                    <th scope="col"> Comment </th>
                                    <th scope="col"> Edit </th>
                                    <th scope="col"> Delete </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.TestimonialID</td>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Title</td>
                                        <td>@item.Comment</td>
                                        <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-primary">Edit</a></td>
                                        <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Testimonial/CreateTestimonial/" class="btn btn-success">Create Testimonial</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
