@model GetEventByIdDto
@{
    ViewData["Title"] = "UpdateEvent";
    Layout = "~/Views/Admin/Index.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Update Event</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="EventID"/>
                            <label>Event Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />                    
                            <label>Description</label>
                            <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                            <br />
                            <label>Price</label>
                            <input type="number" asp-for="Price" class="form-control" />
                            <br />
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

