
<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    @await Component.InvokeAsync("_PartialSearchBarAdmin")

    <ul class="navbar-nav navbar-right">

        @await Component.InvokeAsync("_PartialReadMessagesAdmin")

        @await Component.InvokeAsync("_PartialNotificationAdmin")

        @await Component.InvokeAsync("_PartialUserMenu")         
        
    </ul>
</nav>