@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Admin/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Create Product</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Product Name</label>
                            <input type="text" name="ProductName" class="form-control"/>
                            <br />
                            <label>Price</label>
                            <input type="text" name="Price" class="form-control"/>
                            <br />
                            <label>Product Category</label>
                            <select asp-for="CategoryID" class="form-control" asp-items="(IEnumerable<SelectListItem>)ViewBag.Categories">
                                <option value="">-- Select Category--</option>
                            </select>
                            <br />
                            <label>Image Url</label>
                            <input type="text" name="ImageUrl" class="form-control"/>
                            <br />
                            <label>Description</label>
                            <textarea type="text" cols="5" rows="5" name="Description" class="form-control"> </textarea>
                            <br />
                            <button type="submit" class="btn btn-primary">Create Product</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
