@model List<ResultChefDto>
@{
    ViewData["Title"] = "ChefList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Chef List</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col"> # </th>
                                    <th scope="col"> Chef Name </th>
                                    <th scope="col"> Title </th>
                                    <th scope="col"> Description </th>
                                    <th scope="col"> Edit </th>
                                    <th scope="col"> Delete </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ChefID</td>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td><a href="/Chef/UpdateChef/@item.ChefID" class="btn btn-primary">Edit</a></td>
                                        <td><a href="/Chef/DeleteChef/@item.ChefID" class="btn btn-danger">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Chef/CreateChef/" class="btn btn-success">Create Chef</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



